body {
  background: linear-gradient(#fd98e8 10%, #01019b 100%), #777;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}



#buttons-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: flex-start;
  gap: 20px;
}



.button-mask {
  background: linear-gradient(to right, green 0%, rgba(0,0,160,1) 33%, rgba(0,0,160,1) 66%, green 100%), green;
  color: rgba(255,255,120,1); /* Text color */
  position: relative;
  overflow: hidden;
  width: 100%; /* Fullwidth */
  padding: 15px; /* Intern spacing */
  border: none; /* No border */
  border-radius: 20px; /* Rounded corners */
  font-size: 42px; /* Font size */
  font-family: EB Garamond, Verdana, Arial;
  text-align: center;
  /*max-width: 400px; /* Maxwidth for bigscreens */
}


.button-mask input/*[type="file"]*/ {
  /*font-size: 80px;  Big-size letters for easy visualization */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0; /* Hides the button */
  cursor: pointer;
}




.button-mask-disabled {
  background-color: rgba(50,80,50,1); /* Green background color */
  color: rgba(141,141,72,1); /* Text color */
  position: relative;
  overflow: hidden;
  width: 100%; /* Fullwidth */
  padding: 15px; /* Intern spacing */
  border: none; /* No border */
  border-radius: 20px; /* Rounded corners */
  font-size: 42px; /* Font size */
  font-family: EB Garamond, Verdana, Arial;
  text-align: center;
  /*max-width: 400px; /* Maxwidth for bigscreens */
}


.button-mask-disabled input/*[type="file"]*/ {
  /*font-size: 80px;   Big-size letters for easy visualization */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0; /* Hides the button */
  cursor: not-allowed;
}



.bar-interval {
  width: 100%;
  height: 30px;
  padding-top: 0;
  background: linear-gradient(to right, rgb(128, 228, 228) 0%, rgb(33, 43, 187) 85%), lightblue;
  /*linear-gradient(to right, rgb(35, 89, 190) 0%, red 85%)*/
  border-radius: 15px;
}



.circle-marker {
  position: relative;
  display: inline-block;
  top: -3px;
  height: 30px;
  width: 30px;
  background-color: rgba(0,0,0,0);
  border: 3px solid #fff;
  border-radius: 50%;
  
}



.bar-label {
  width: 55%;
  background-color: rgb(7, 104, 165);
  color: white;
  border: none;
  border-radius: 16px;
  text-align: center;
  font-size: 28px;
  font-family: EB Garamond, Verdana, Arial;
  margin-bottom: -20px;
}
